/* justfixit.scss made by Timo Strating  https://github.com/timostrating/justfixit.css
   ------------------------------------------ */
.fl{float:left}.fr{float:right}.transition{-webkit-transition:all 2s linear;-moz-transition:all 2s linear;-ms-transition:all 2s linear;-o-transition:all 2s linear;transition:all 2s linear}.clear{clear:both;font-size:0}.float-clear{clear:left;display:block}.rel{position:relative}.abs{position:relative}.tr{text-align:right}.tl{text-align:left}.tc{text-align:center}.g-center{float:none;margin:0 auto}.scaleContainer,.t-center{display:table;margin:0 auto}.verticle-center{position:absolute;top:50%;transform:translateY(-50%)}.no-3d{-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform-style:preserve-3d}.hide{display:none !important}.hidden{opacity:0;visibility:hidden}.block{display:block !important}.inline-block{display:inline-block !important}.flex{display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex}.upper{text-transform:uppercase}.ullino{list-style-type:none;padding-left:0px}.m0a{margin:0 auto !important}.ma0{margin:auto 0 !important}.w100{width:100%}.m100{margin:100px !important}.mt100{margin-top:100px !important}.mr100{margin-right:100px !important}.mb100{margin-bottom:100px !important}.ml100{margin-left:100px !important}.p100{padding:100px !important}.pt100{padding-top:100px !important}.pr100{padding-right:100px !important}.pb100{padding-bottom:100px !important}.pl100{padding-left:100px !important}.m95{margin:95px !important}.mt95{margin-top:95px !important}.mr95{margin-right:95px !important}.mb95{margin-bottom:95px !important}.ml95{margin-left:95px !important}.p95{padding:95px !important}.pt95{padding-top:95px !important}.pr95{padding-right:95px !important}.pb95{padding-bottom:95px !important}.pl95{padding-left:95px !important}.m90{margin:90px !important}.mt90{margin-top:90px !important}.mr90{margin-right:90px !important}.mb90{margin-bottom:90px !important}.ml90{margin-left:90px !important}.p90{padding:90px !important}.pt90{padding-top:90px !important}.pr90{padding-right:90px !important}.pb90{padding-bottom:90px !important}.pl90{padding-left:90px !important}.m85{margin:85px !important}.mt85{margin-top:85px !important}.mr85{margin-right:85px !important}.mb85{margin-bottom:85px !important}.ml85{margin-left:85px !important}.p85{padding:85px !important}.pt85{padding-top:85px !important}.pr85{padding-right:85px !important}.pb85{padding-bottom:85px !important}.pl85{padding-left:85px !important}.m80{margin:80px !important}.mt80{margin-top:80px !important}.mr80{margin-right:80px !important}.mb80{margin-bottom:80px !important}.ml80{margin-left:80px !important}.p80{padding:80px !important}.pt80{padding-top:80px !important}.pr80{padding-right:80px !important}.pb80{padding-bottom:80px !important}.pl80{padding-left:80px !important}.m75{margin:75px !important}.mt75{margin-top:75px !important}.mr75{margin-right:75px !important}.mb75{margin-bottom:75px !important}.ml75{margin-left:75px !important}.p75{padding:75px !important}.pt75{padding-top:75px !important}.pr75{padding-right:75px !important}.pb75{padding-bottom:75px !important}.pl75{padding-left:75px !important}.m70{margin:70px !important}.mt70{margin-top:70px !important}.mr70{margin-right:70px !important}.mb70{margin-bottom:70px !important}.ml70{margin-left:70px !important}.p70{padding:70px !important}.pt70{padding-top:70px !important}.pr70{padding-right:70px !important}.pb70{padding-bottom:70px !important}.pl70{padding-left:70px !important}.m65{margin:65px !important}.mt65{margin-top:65px !important}.mr65{margin-right:65px !important}.mb65{margin-bottom:65px !important}.ml65{margin-left:65px !important}.p65{padding:65px !important}.pt65{padding-top:65px !important}.pr65{padding-right:65px !important}.pb65{padding-bottom:65px !important}.pl65{padding-left:65px !important}.m60{margin:60px !important}.mt60{margin-top:60px !important}.mr60{margin-right:60px !important}.mb60{margin-bottom:60px !important}.ml60{margin-left:60px !important}.p60{padding:60px !important}.pt60{padding-top:60px !important}.pr60{padding-right:60px !important}.pb60{padding-bottom:60px !important}.pl60{padding-left:60px !important}.m55{margin:55px !important}.mt55{margin-top:55px !important}.mr55{margin-right:55px !important}.mb55{margin-bottom:55px !important}.ml55{margin-left:55px !important}.p55{padding:55px !important}.pt55{padding-top:55px !important}.pr55{padding-right:55px !important}.pb55{padding-bottom:55px !important}.pl55{padding-left:55px !important}.m50{margin:50px !important}.mt50{margin-top:50px !important}.mr50{margin-right:50px !important}.mb50{margin-bottom:50px !important}.ml50{margin-left:50px !important}.p50{padding:50px !important}.pt50{padding-top:50px !important}.pr50{padding-right:50px !important}.pb50{padding-bottom:50px !important}.pl50{padding-left:50px !important}.m45{margin:45px !important}.mt45{margin-top:45px !important}.mr45{margin-right:45px !important}.mb45{margin-bottom:45px !important}.ml45{margin-left:45px !important}.p45{padding:45px !important}.pt45{padding-top:45px !important}.pr45{padding-right:45px !important}.pb45{padding-bottom:45px !important}.pl45{padding-left:45px !important}.m40{margin:40px !important}.mt40{margin-top:40px !important}.mr40{margin-right:40px !important}.mb40{margin-bottom:40px !important}.ml40{margin-left:40px !important}.p40{padding:40px !important}.pt40{padding-top:40px !important}.pr40{padding-right:40px !important}.pb40{padding-bottom:40px !important}.pl40{padding-left:40px !important}.m35{margin:35px !important}.mt35{margin-top:35px !important}.mr35{margin-right:35px !important}.mb35{margin-bottom:35px !important}.ml35{margin-left:35px !important}.p35{padding:35px !important}.pt35{padding-top:35px !important}.pr35{padding-right:35px !important}.pb35{padding-bottom:35px !important}.pl35{padding-left:35px !important}.m30{margin:30px !important}.mt30{margin-top:30px !important}.mr30{margin-right:30px !important}.mb30{margin-bottom:30px !important}.ml30{margin-left:30px !important}.p30{padding:30px !important}.pt30{padding-top:30px !important}.pr30{padding-right:30px !important}.pb30{padding-bottom:30px !important}.pl30{padding-left:30px !important}.m25{margin:25px !important}.mt25{margin-top:25px !important}.mr25{margin-right:25px !important}.mb25{margin-bottom:25px !important}.ml25{margin-left:25px !important}.p25{padding:25px !important}.pt25{padding-top:25px !important}.pr25{padding-right:25px !important}.pb25{padding-bottom:25px !important}.pl25{padding-left:25px !important}.m20{margin:20px !important}.mt20{margin-top:20px !important}.mr20{margin-right:20px !important}.mb20{margin-bottom:20px !important}.ml20{margin-left:20px !important}.p20{padding:20px !important}.pt20{padding-top:20px !important}.pr20{padding-right:20px !important}.pb20{padding-bottom:20px !important}.pl20{padding-left:20px !important}.m15{margin:15px !important}.mt15{margin-top:15px !important}.mr15{margin-right:15px !important}.mb15{margin-bottom:15px !important}.ml15{margin-left:15px !important}.p15{padding:15px !important}.pt15{padding-top:15px !important}.pr15{padding-right:15px !important}.pb15{padding-bottom:15px !important}.pl15{padding-left:15px !important}.m10{margin:10px !important}.mt10{margin-top:10px !important}.mr10{margin-right:10px !important}.mb10{margin-bottom:10px !important}.ml10{margin-left:10px !important}.p10{padding:10px !important}.pt10{padding-top:10px !important}.pr10{padding-right:10px !important}.pb10{padding-bottom:10px !important}.pl10{padding-left:10px !important}.m5{margin:5px !important}.mt5{margin-top:5px !important}.mr5{margin-right:5px !important}.mb5{margin-bottom:5px !important}.ml5{margin-left:5px !important}.p5{padding:5px !important}.pt5{padding-top:5px !important}.pr5{padding-right:5px !important}.pb5{padding-bottom:5px !important}.pl5{padding-left:5px !important}.m0{margin:0px !important}.mt0{margin-top:0px !important}.mr0{margin-right:0px !important}.mb0{margin-bottom:0px !important}.ml0{margin-left:0px !important}.p0{padding:0px !important}.pt0{padding-top:0px !important}.pr0{padding-right:0px !important}.pb0{padding-bottom:0px !important}.pl0{padding-left:0px !important}.f40{font-size:40px !important}.f39{font-size:39px !important}.f38{font-size:38px !important}.f37{font-size:37px !important}.f36{font-size:36px !important}.f35{font-size:35px !important}.f34{font-size:34px !important}.f33{font-size:33px !important}.f32{font-size:32px !important}.f31{font-size:31px !important}.f30{font-size:30px !important}.f29{font-size:29px !important}.f28{font-size:28px !important}.f27{font-size:27px !important}.f26{font-size:26px !important}.f25{font-size:25px !important}.f24{font-size:24px !important}.f23{font-size:23px !important}.f22{font-size:22px !important}.f21{font-size:21px !important}.f20{font-size:20px !important}.f19{font-size:19px !important}.f18{font-size:18px !important}.f17{font-size:17px !important}.f16{font-size:16px !important}.f15{font-size:15px !important}.f14{font-size:14px !important}.f13{font-size:13px !important}.f12{font-size:12px !important}.f11{font-size:11px !important}.lh40{line-height:40px !important}.lh39{line-height:39px !important}.lh38{line-height:38px !important}.lh37{line-height:37px !important}.lh36{line-height:36px !important}.lh35{line-height:35px !important}.lh34{line-height:34px !important}.lh33{line-height:33px !important}.lh32{line-height:32px !important}.lh31{line-height:31px !important}.lh30{line-height:30px !important}.lh29{line-height:29px !important}.lh28{line-height:28px !important}.lh27{line-height:27px !important}.lh26{line-height:26px !important}.lh25{line-height:25px !important}.lh24{line-height:24px !important}.lh23{line-height:23px !important}.lh22{line-height:22px !important}.lh21{line-height:21px !important}.lh20{line-height:20px !important}.lh19{line-height:19px !important}.lh18{line-height:18px !important}.lh17{line-height:17px !important}.lh16{line-height:16px !important}.lh15{line-height:15px !important}.lh14{line-height:14px !important}.lh13{line-height:13px !important}.lh12{line-height:12px !important}.lh11{line-height:11px !important}



/* NoFramework css
   ------------------------------------------ */
.smallform {
  display: block;
  width: 300px !important;
  margin: 0 auto;
  text-align: center;
}

ul {
    padding-left: 0px;
}



/* Main css
   ------------------------------------------ */
.navbar-nav {
  text-align: center !important;
}

footer {
  position: fixed;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f9f9f9;
  color: #333;
  border-style: solid;
  border-top-width: 3px;
  border-color: #e7e7e7;
  text-align: center;
}


/* SEARCH */
.search-container{
  display: block;
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
}

input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  font-size: 2  rem;
  border: 1px solid #D0CFCE;
  outline: none;
}

.search-icon{
  position: relative;
  float: right;
  width: 70px;
  height: 70px;
  top: -55px;
  right: -15px;
}


/* HOME */
.categorie {
  width: 250px;
  border: 1px solid #D0CFCE;
  border-radius: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: lightblue;
  border-width: 2px;
}

.categorie a {
    color: black;
}

.voordelen {
    width: 200px;
    background-color: orange;
}

.navbar-nav {
  text-align: center !important;
}

nav .icon {
    width: 20px; 
    font-size: 15px; 
    text-align: center;
}

.blog.content {
    font-size: 18px;
}



/* Admin css
   ------------------------------------------ */
table {
    border: none;
}


.main-menu .fa {
    position: relative;
    width: 100%;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
}

.main-menu {
    background:#fbfbfb;
    border-right:1px solid #e5e5e5;
    position: fixed;
    top:0;
    bottom:0;
    height:100%;
    left:0;
    width:100px;
    overflow:hidden;
    -webkit-transition:width .05s linear;
    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    z-index:1000;
    text-align: center;
}

.main-menu a {
    width: 100%;
}

.main-menu>ul {
    margin: 0;
}

.main-menu li {
    position:relative;
    display:block;
    width: 100%;
}

.main-menu li>a {
    position:relative;
    display: block;
    border-collapse:collapse;
    border-spacing:0;
    color:#999;
    font-family: arial;
    font-size: 14px;
    text-decoration:none;
    -webkit-transform: translateZ(0) scale(1,1);
    -webkit-transition:all .1s linear;
    transition:all .1s linear;
    padding: 25px 0;
}

.main-menu .nav-icon {
    position:relative;
    width: 100%;
    height:36px;
    text-align:center;
    vertical-align:middle;
    font-size:18px;
}

.main-menu>ul.logout {
    position:absolute;
    left:0;
    bottom:0;
    width: 100px;
}

.form-group > .form-control {
    margin: 15px 0px;
}



.btn {
    font-weight: normal !important;;
    text-transform: uppercase !important;;
    text-decoration: none !important;
}

body.admin table th {
    color: white;
    background-color: #999;
}

body.profile {
    background: linear-gradient(to left,#ECF1F4 57.7%,#F5F9FA 28%);
    background-size: 4000px;
    background-position: center;
}

body.profile ul.profile-menu {
    list-style: none;
    
    padding: 20px 0px;

}

body.profile ul.profile-menu li {
    border-top: solid #CACFD2 1px;
    border-bottom: solid #CACFD2 1px;
    margin-top: -1px;
}

body.profile ul.profile-menu li a {
    display: block;
    margin: 10px 0 10px 5px;
    color: #494949; 
}

body.profile ul.profile-menu li:hover{ background-color: #ecf1f4; }
body.profile ul.profile-menu li a { color: #494949; }
body.profile ul.profile-menu li a:hover,
body.profile ul.profile-menu li a.active { color: #3997D4; }
